<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Version</title>
</head>
<body>
    <h1>English Version</h1>
    <p>This is the current version in English</p>
    
    <h2>Available versions:</h2>
    <nav>
        <ul>
            {{VERSIONS_LIST}}
        </ul>
        <p><em>Automatically updated when creating a release</em></p>
    </nav>
    
    <h2>Navigation:</h2>
    <nav>
        <ul>
            <li><a href="../index.html">Main page</a></li>
            <li><a href="../ru/index.html">Russian version</a></li>
        </ul>
    </nav>
</body>
</html>